.open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared style
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
   

 .logo h2{
    font-style: ExtraBold;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;

    }
.r{
    color:rgba(253, 110, 10, 1);
}
/* .about-content */
.about-heading{
    max-width: 887px;
    text-align: center;
    margin: 0 auto;
  
}
.about-heading h2{
    color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;

}
.about-heading p{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}

.about-info{
    max-width: 887px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.info-card p{

color: rgba(117, 117, 117, 1);
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.info-card h4{
font-size: 20px;
color:rgba(71, 71, 71, 1)02;
}
/* main style */

header{
   
   
    background: url(../images/developer.png), url(/images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
     /* width: 80%; */
     max-width: 1440px;
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
     
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
   
}
.btn{
  background-color: rgba(253, 110, 10, 1);
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  color: #f3eeee;
  /* align-items: center; */
}
/*  */
.btn1{
    /* Contact */
/* Rectangle 1 */
width: 160px;
height: 64px;
 color: rgba(253, 110, 10, 1);
border: 1px solid rgba(253, 110, 10, 1); ;  
font-family: Open Sans;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
}
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140;
}
.banner-content{
    max-width: 585px;
}

.banner-content h2{
    color: rgba(71, 71, 71, 1);

font-family: Open Sans;
font-style: SemiBold;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.banner-content h1{
color: var(--Dark 01, rgba(24, 24, 24, 1));

font-family: Open Sans;
font-style: Bold;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}

.banner-content p{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}

.banner-images img{
   width: 584px;
height: 676px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
#about .about-content{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 131px 156px;
    text-align: center;
}